@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>@Model.Value("articlesTitles")</h2>
        </header>

        <a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
        <h2>@Model.Value("articlesBodyText")</h2>
    </div>
</section>
@{
	var selection = Umbraco.Content(Guid.Parse("dbc18291-6e31-4148-9d4c-272caf02bb29"))
    .ChildrenOfType("articlesItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
    <article class="special">
        <div class="articletitle"><a href="@item.Url">@item.Name</a></div>
        <div class="articlepreview">@Html.Truncate(item.Value("articleContent").ToString(), 20, true)<a href="@item.Url">Read More..</a></div>
    </article>
<hr/>
	}
</ul>

